.ProjectsContainer {
    background-color: black;
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.MobileView .ProjectsContainer{
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
    grid-gap: 5vh;
}

.MobileView .ProjectsPageMainSection{
    height: 300vh;;
}

.MobileView .ProjectItem{
    width: 100%;
    aspect-ratio: 1/1;
}