.NavBar {
  height: 8%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.Logo {
  font-size: 200%;
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 3%;
  cursor: pointer;
  min-width: 349px;
  min-height: 75px;
}

.LogoRight {
  background: var(--purple-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.LogoLeft {
  background: var(--green-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.NavButtonsContainer {
  width: 35%;
  height: 100%;
  float: right;
  display: flex;
  justify-content: space-evenly;
  min-width: 420px;
  min-height: 75px;
}
