.NavButton {
  width: 33%;
  background: black;
  border: none;
  color: #206bcc;
  font-size: 200%;
  font-weight: bold;
  cursor: pointer;
}

.ButtonText{
  color: transparent;
    background: var(--purple-gradient);
    -webkit-background-clip: text;
    background-clip: text;
}


.NavButton:hover .ButtonText {
      background: var(--green-gradient);
      -webkit-background-clip: text;
        background-clip: text;
}