.NavBar {
  height: 8%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.Logo {
  font-size: 2vw;
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 3%;
  cursor: pointer;
  /* min-width: 349px;
  min-height: 75px; */
}

.LogoRight {
  background: var(--purple-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.LogoLeft {
  background: var(--green-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.NavButtonsContainer {
  width: 35%;
  height: 100%;
  float: right;
  display: flex;
  justify-content: space-evenly;
}

.MobileView .NavBar{
  height: 10%;
}

.MobileView .Logo {
  height: 100%;
  width: 40%;
}

.MobileView .LogoContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vh;
}

.MobileView .NavButtonsContainer {
  width: 60%;
}