.NavButton {
  width: 33%;
  background: black;
  border: none;
  color: #206bcc;
  font-size: 2vw;
  font-weight: bold;
  cursor: pointer;
  min-width: 60px;
}

.ButtonText{
  color: transparent;
    background: var(--purple-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 2vw;
}


.NavButton:hover .ButtonText {
      background: var(--green-gradient);
      -webkit-background-clip: text;
        background-clip: text;
}