.FullPageView {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    font-weight: bold;
}

.MainSectionContainer {
    margin-top: 10%;
    height: 70%;
    width: 80%;
}

.AvatarContainer {
    height: 16%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.AvatarBorder {
    height: 100%;
    width: height;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.TitleContainer {
    height: auto;
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.TitleContainer h1{
    width: 80%;
    background: var(--green-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.DescriptionContainer {
    height: auto;
    width: 100%;
    font-size: 20px;
    display: flex;
}

.DescriptionContainer h2{
    background: var(--purple-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
}

.ButtonsContainer {
    margin-top: 3%;
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Avatar{
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    border-radius: 50%;
}

.Border {
    height: 100%;
    width: calc(height * 1.7778);
}

